flows.json
[{"id":"50439d6b.0adcb4","type":"tab","label":"nice","disabled":false,"info":""},{"id":"f31f6e67.943b6","type":"ui_form","z":"50439d6b.0adcb4","name":"","label":"","group":"5e1159f.46ee628","order":0,"width":"0","height":"0","options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Status","value":"cstatus","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"a_mortality","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"infant_deaths","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"perc_expend","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hep_b","type":"number","required":true,"rows":null},{"label":"Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under 5 Deaths","value":"under5_deaths","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"total_expend","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"diptheria","type":"number","required":true,"rows":null},{"label":"HIV / AIDS","value":"hiv_aids","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pop","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"thin_19","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"thin_9","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"comp","type":"number","required":true,"rows":null},{"label":"Schooling","value":"school","type":"number","required":true,"rows":null}],"formValue":{"country":"","cstatus":"","a_mortality":"","infant_deaths":"","alcohol":"","perc_expend":"","hep_b":"","measles":"","bmi":"","under5_deaths":"","polio":"","total_expend":"","diptheria":"","hiv_aids":"","gdp":"","pop":"","thin_19":"","thin_9":"","comp":"","school":""},"payload":"","submit":"Predict","cancel":"Reset","topic":"","x":90,"y":260,"wires":[["5880ba32.7200ac"]]},{"id":"5880ba32.7200ac","type":"function","z":"50439d6b.0adcb4","name":"Pre Token","func":"global.set(\"country\",msg.payload.country)\nglobal.set(\"cstatus\",msg.payload.cstatus)\nglobal.set(\"a_mortality\",msg.payload.a_mortality)\nglobal.set(\"infant_deaths\",msg.payload.infant_deaths)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"perc_expend\",msg.payload.perc_expend)\nglobal.set(\"hep_b\",msg.payload.hep_b)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"under5_deaths\",msg.payload.under5_deaths)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"total_expend\",msg.payload.total_expend)\nglobal.set(\"diphtheria\",msg.payload.diptheria)\nglobal.set(\"hiv_aids\",msg.payload.hiv_aids)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"thin_19\",msg.payload.thin_19)\nglobal.set(\"thin_9\",msg.payload.thin_9)\nglobal.set(\"comp\",msg.payload.comp)\nglobal.set(\"school\",msg.payload.school)\n\nvar apikey = \"b3uqHiD6kRVw0IgiP8IRgw-L5Ok-LO2iGK602sUoW0Aj\";\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["92f8f74b.376fe"]]},{"id":"c57b805b.8f5b2","type":"inject","z":"50439d6b.0adcb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["5880ba32.7200ac"]]},{"id":"92f8f74b.376fe","type":"http request","z":"50439d6b.0adcb4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":420,"wires":[["2f3978c9.4dd67"]]},{"id":"2f3978c9.4dd67","type":"function","z":"50439d6b.0adcb4","name":"Pre Prediction","func":"var country = global.get(\"country\")\nvar cstatus = global.get(\"cstatus\")\nvar a_mortality = global.get(\"a_mortality\")\nvar infant_deaths = global.get(\"infant_deaths\")\nvar alcohol = global.get(\"alcohol\")\nvar perc_expend = global.get(\"perc_expend\")\nvar hep_b = global.get(\"hep_b\")\nvar measles = global.get(\"measles\")\nvar bmi = global.get(\"bmi\")\nvar under5_deaths = global.get(\"under5_deaths\")\nvar polio = global.get(\"polio\")\nvar total_expend = global.get(\"total_expend\")\nvar diphtheria = global.get(\"diphtheria\")\nvar hiv_aids = global.get(\"hiv_aids\")\nvar gdp = global.get(\"gdp\")\nvar pop = global.get(\"pop\")\nvar thin_19 = global.get(\"thin_19\")\nvar thin_9 = global.get(\"thin_9\")\nvar comp = global.get(\"comp\")\nvar school = global.get(\"school\")\n\nvar token=msg.payload.access_token\nvar instance_id = \"31244ae7-ae24-4287-9413-3dfd4ea1f50e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n\nvar dict = {\n\"Afghanistan\":0,\n\"Albania\":1,\n\"Algeria\":2,\n\"Angola\":3,\n\"Argentina\":4,\n\"Armenia\":5,\n\"Australia\":6,\n\"Austria\":7,\n\"Azerbaijan\":8,\n\"Bangladesh\":9,\n\"Belarus\":10,\n\"Belgium\":11,\n\"Belize\":12,\n\"Benin\":13,\n\"Bhutan\":14,\n\"Bosnia and Herzegovina\":15,\n\"Botswana\":16,\n\"Brazil\":17,\n\"Bulgaria\":18,\n\"Burkina Faso\":19,\n\"Burundi\":20,\n\"Cabo Verde\":21,\n\"Cambodia\":22,\n\"Cameroon\":23,\n\"Canada\":24,\n\"Central African Republic\":25,\n\"Chad\":26,\n\"Chile\":27,\n\"China\":28,\n\"Colombia\":29,\n\"Comoros\":30,\n\"Costa Rica\":31,\n\"Croatia\":32,\n\"Cyprus\":33,\n\"Djibouti\":34,\n\"Dominican Republic\":35,\n\"Ecuador\":36,\n\"El Salvador\":37,\n\"Equatorial Guinea\":38,\n\"Eritrea\":39,\n\"Estonia\":40,\n\"Ethiopia\":41,\n\"Fiji\":42,\n\"France\":43,\n\"Gabon\":44,\n\"Georgia\":45,\n\"Germany\":46,\n\"Ghana\":47,\n\"Greece\":48,\n\"Guatemala\":49,\n\"Guinea\":50,\n\"Guinea-Bissau\":51,\n\"Guyana\":52,\n\"Haiti\":53,\n\"Honduras\":54,\n\"India\":55,\n\"Indonesia\":56,\n\"Iraq\":57,\n\"Ireland\":58,\n\"Israel\":59,\n\"Italy\":60,\n\"Jamaica\":61,\n\"Jordan\":62,\n\"Kazakhstan\":63,\n\"Kenya\":64,\n\"Kiribati\":65,\n\"Latvia\":66,\n\"Lebanon\":67,\n\"Lesotho\":68,\n\"Liberia\":69,\n\"Lithuania\":70,\n\"Luxembourg\":71,\n\"Madagascar\":72,\n\"Malawi\":73,\n\"Malaysia\":74,\n\"Maldives\":75,\n\"Mali\":76,\n\"Malta\":77,\n\"Mauritania\":78,\n\"Mauritius\":79,\n\"Mexico\":80,\n\"Mongolia\":81,\n\"Montenegro\":82,\n\"Morocco\":83,\n\"Mozambique\":84,\n\"Myanmar\":85,\n\"Namibia\":86,\n\"Nepal\":87,\n\"Netherlands\":88,\n\"Nicaragua\":89,\n\"Niger\":90,\n\"Nigeria\":91,\n\"Pakistan\":92,\n\"Panama\":93,\n\"Papua New Guinea\":94,\n\"Paraguay\":95,\n\"Peru\":96,\n\"Philippines\":97,\n\"Poland\":98,\n\"Portugal\":99,\n\"Romania\":100,\n\"Russian Federation\":101,\n\"Rwanda\":102,\n\"Samoa\":103,\n\"Sao Tome and Principe\":104,\n\"Senegal\":105,\n\"Serbia\":106,\n\"Seychelles\":107,\n\"Sierra Leone\":108,\n\"Solomon Islands\":109,\n\"South Africa\":110,\n\"Spain\":111,\n\"Sri Lanka\":112,\n\"Suriname\":113,\n\"Swaziland\":114,\n\"Sweden\":115,\n\"Syrian Arab Republic\":116,\n\"Tajikistan\":117,\n\"Thailand\":118,\n\"Timor-Leste\":119,\n\"Togo\":120,\n\"Tonga\":121,\n\"Trinidad and Tobago\":122,\n\"Tunisia\":123,\n\"Turkey\":124,\n\"Turkmenistan\":125,\n\"Uganda\":126,\n\"Ukraine\":127,\n\"Uruguay\":128,\n\"Uzbekistan\":129,\n\"Vanuatu\":130,\n\"Zambia\":131,\n\"Zimbabwe\":132\n}\n\ndict2 = {\n    \"Developed\" : 0,\n    \"Developing\" : 1\n}\n\nmsg.payload={\"fields\": [\"Country\",\"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"thinness 1-19 years\",\"thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"], \"values\": [[dict[country],dict2[cstatus],a_mortality,infant_deaths,alcohol,perc_expend,hep_b,measles,bmi,under5_deaths,polio,total_expend,diphtheria,hiv_aids,gdp,pop,thin_19,thin_9,comp,school]]}\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":560,"wires":[["29cfd0f3.0e8e"]]},{"id":"29cfd0f3.0e8e","type":"http request","z":"50439d6b.0adcb4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/31244ae7-ae24-4287-9413-3dfd4ea1f50e/deployments/d928f043-efd0-42d3-aacb-1e543d2317d8/online","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":60,"wires":[["38b73b30.e742c4"]]},{"id":"38b73b30.e742c4","type":"function","z":"50439d6b.0adcb4","name":"Output Parser","func":"msg.payload = msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":240,"wires":[["edc2332c.82e508","a00fd87e.08cee"]]},{"id":"edc2332c.82e508","type":"debug","z":"50439d6b.0adcb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":100,"wires":[]},{"id":"a00fd87e.08cee","type":"ui_text","z":"50439d6b.0adcb4","group":"5e1159f.46ee628","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":440,"wires":[]},{"id":"5e1159f.46ee628","type":"ui_group","z":"","name":"","tab":"3f65c79c.3fc478","order":1,"disp":true,"width":"6","collapse":false},{"id":"3f65c79c.3fc478","type":"ui_tab","z":"","name":"Predicting Life Expectancy using Machine Learning","icon":"dashboard","disabled":false,"hidden":false}]